
input.custom-file-input{
  opacity: 0;
}

 /** Button **/


 .btn-primary{
  border-width: 0px;
 }

 .btn-primary: active{
  background-color: #2d466d;
 }

 .btn-primary: focus{
  background-color: #2d466d;
 }

 input[type="file"] {
    display: none;
}
.custom_file_upload input: hover {
box-shadow :inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
