<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/contact.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top no_margin color_bleu_royal">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home.html">
            <div class="bloc_logo_s">
            <div class="div_g_s"><p class="style_logo_s">G</p></div>
            <div class="global div_milieu_s"><p class="style_logo_s">H</p></div>
            <div class="global div_milieu_s"><p class="style_logo_s">C</p></div>
            <div class="global div_milieu_s"><p class="style_logo_s test">C</p></div>
            <div class="div_a_s"><p class="style_logo_s">A</p></div>
           </div>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="bleuroyal" href="hcc.html">HCC</a></li>
            <li><a href="gca.html">GCA</a></li>
            <li><a href="vousetes.html">Vous êtes ?</a></li>
            <li><a href="devis.html">Devis</a></li>
            <li><a href="recrutement.html">Recrutement</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" class="form-control search_personalize" placeholder="Rechercher">
                </div>
              </form>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


<div class="container">



    <div class="row">

        <iframe class="gmaps-frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.354473858825!2d2.2856454151257144!3d48.889581306464976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66f86abd125df%3A0xc370745e746998e5!2sHCC+%2F+GCA!5e0!3m2!1sfr!2sfr!4v1485628715346">
        </iframe>

    </div>

  </div>


<div id="contact_inner">

                <!-- *** contact form *** -->
                <div class="container">
                  <div class="row">
               <h3>Vous pouvez aussi envoyer un mail:</h3>
                  </div>

               <form action="#" method="post" class="formit">
                 <div class="row">
                   <div class="col-lg-3 nopaddingleft">
                    <input type="name" class="form-control" placeholder="Nom">
                  </div>
                  <div class="col-lg-3 nopaddingleft">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                  <div class="col-lg-3 nopaddingleft">
                    <input type="url" class="form-control" placeholder="Objet">
                  </div>
                </div>
                <div class="padding_vingtpx"></div>
                  <div class="row">
                    <div class="col-lg-9 nopaddingleft">
                    <textarea class="form-control" placeholder="Votre message ici..." rows="5"></textarea>
                    </div>
                  </div>
                <div class="padding_vingtpx"></div>

                <div class="row">
                  <div class="btn-group">
                      <button class="btn btn-primary button_pers_small center_horizontal" type="button">Envoyer</button>
                  </div>
                </div>

              </div>

              </div>

                </form>

                <div class="cara"></div>



</div>

<footer>

      <div class="container-fluid white-blue">

        <div class="row">

        <div class="col-lg-4 center_horizontal">
            <div>
                <p id="description-cabinet"><span id="span-description">Cabinet d'expertise comptable et de commissariat aux comptes</span></p>
            </div>
          </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 center_horizontal">

             <h4 class="margin_footer_title">Navigation</h4>
             <hr class="horizontal-line" width="45%">
              <p class="margin_footer">Accueil</p>
              <p class="margin_footer">HCC</p>
              <p class="margin_footer">GCA</p>
              <p class="margin_footer">Vous êtes ?</p>
              <p class="margin_footer">Devis</p>
              <p class="margin_footer">Recrutement</p>
              <p class="margin_footer">Contact</p>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 center_horizontal">
            <h4 class="margin_footer_title">Contact</h4>
            <hr class="horizontal-line" width="45%">
            <div class="info_footer_contact">
              <p class="margin_footer">26 Rue Anatole France<br>92300 Levallois-Perret</p>
              <p class="margin_footer">01 02 03 04 05</p>
              <p class="margin_footer">xyz@hcc.fr</p>
              <p class="margin_footer">Lundi-Samedi : 8:00-20:00<br>Dimanche fermé</p>
            </div>

     </div>

</div>
<div class="margin_dixpx"></div>
</div>
    <div class="row">
      <div class="container-fluid dark-blue">
          <div>
            Mentions légales
          </div>
      </div>
    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/base.js"></script>

  </body>
</html>
