<!DOCTYPE html>
<html>
<head>
<title>HCC et GCA</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{css/footer.css}" rel="stylesheet">
<link th:href="@{css/base.css}" rel="stylesheet">
<link th:href="@{css/devis.css}" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top no_margin color_bleu_royal">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.html">
          <div class="bloc_logo_s">
          <div class="div_g_s"><p class="style_logo_s">G</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s">H</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s">C</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s test">C</p></div>
          <div class="div_a_s"><p class="style_logo_s">A</p></div>
         </div>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="bleuroyal" href="hcc.html">HCC</a></li>
          <li><a href="gca.html">GCA</a></li>
          <li><a href="vousetes.html">Vous êtes ?</a></li>
          <li><a href="devis.html">Devis</a></li>
          <li><a href="recrutement.html">Recrutement</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control search_personalize" placeholder="Rechercher">
              </div>
            </form>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="container-fluid">
      <div class="row">
      <div class="col-lg-4 center_horizontal">
        <h3 class="text_royalbleu">Informations générales</h3>
        <form>
            <select required class="form-control">
                <option value="" disabled selected hidden>Secteur d'activité</option>
                <option value="0">Agroalimentaire - Alimentation</option>
                <option value="1">Architecture - Aménagement intérieur</option>
                <option value="0">Artisanat - Métiers d'art</option>
                <option value="1">Bâtiment - Travaux publics</option>
                <option value="0">Immobilier</option>
                <option value="1">Communication</option>
                <option value="0">Culture - Spectacle</option>
                <option value="1">Défense - Sécurité - Secours</option>
                <option value="0">Droit</option>
                <option value="1">Edition - Imprimerie - Livre</option>
                <option value="0">Electronique - Informatique</option>
                <option value="1">Formation</option>
            </select>

        </form>
        <div class="margin_dixpx"></div>
        <form>
            <select required class="form-control">
                <option value="" disabled selected hidden>Chiffre d'affaire</option>
                <option value="0">inférieur 200k</option>
                <option value="1">entre 200k et 500k</option>
                <option value="2">entre 500k et 1M</option>
                <option value="3">entre 1M et 2M</option>
                <option value="4">supérieur à 2M</option>
            </select>
        </form>
        <div class="margin_dixpx"></div>
        <form>
            <select required class="form-control">
                <option value="" disabled selected hidden>Nombre de salarié</option>
                <option value="0">0 à 10</option>
                <option value="1">10 à 20</option>
                <option value="0">20 à 50</option>
                <option value="1">supérieur à 50</option>
            </select>
        </form>
        <div class="margin_dixpx"></div>
        <form>
            <select required class="form-control">
                <option value="" disabled selected hidden>Missions</option>
                <option value="0">Comptable</option>
                <option value="1">social</option>
            </select>
        </form>
        <div class="margin_dixpx"></div>
          <input class="form-control" id="inputdefault" type="text" placeholder="Valeur moyenne d'une facture client">
      </div>

      <div class="col-lg-4 center_horizontal">
        <h3 class="text_royalbleu">Coordonnées</h3>
        <div class="form-group">
          <input class="form-control" id="inputdefault" type="text" placeholder="Nom">
        </div>
        <div class="margin_dixpx"></div>
        <div class="form-group">
          <input class="form-control" id="inputdefault" type="text" placeholder="Prenom">
        </div>
        <div class="margin_dixpx"></div>
        <div class="form-group">
          <input class="form-control" id="inputdefault" type="text" placeholder="Mail">
        </div>
        <div class="margin_dixpx"></div>
      </div>


      <div class="col-lg-4 center_horizontal">
        <h3 class="text_royalbleu">Information supplémentaire</h3>
        <div class="form-group">
          <textarea class="form-control noresize" rows="5" id="comment"></textarea>
        </div>
      </div>

  </div>

  <div class="row center_horizontal">
    <div class="btn-group">
        <button class="btn btn-primary button_pers_small center_horizontal" type="button">Envoyer</button>
    </div>
  </div>

    <div class="margin_cinquantepx"></div>


  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

  <footer>

        <div class="container-fluid white-blue">

          <div class="row">

          <div class="col-lg-4 center_horizontal">
              <div>
                  <p id="description-cabinet"><span id="span-description">Cabinet d'expertise comptable et de commissariat aux comptes</span></p>
              </div>
            </div>

        <div class="col-lg-4 col-sm-6 col-xs-12 center_horizontal">

               <h4 class="margin_footer_title">Navigation</h4>
               <hr class="horizontal-line" width="45%">
                <p class="margin_footer">Accueil</p>
                <p class="margin_footer">HCC</p>
                <p class="margin_footer">GCA</p>
                <p class="margin_footer">Vous êtes ?</p>
                <p class="margin_footer">Devis</p>
                <p class="margin_footer">Recrutement</p>
                <p class="margin_footer">Contact</p>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12 center_horizontal">
              <h4 class="margin_footer_title">Contact</h4>
              <hr class="horizontal-line" width="45%">
              <div class="info_footer_contact">
                <p class="margin_footer">26 Rue Anatole France<br>92300 Levallois-Perret</p>
                <p class="margin_footer">01 02 03 04 05</p>
                <p class="margin_footer">xyz@hcc.fr</p>
                <p class="margin_footer">Lundi-Samedi : 8:00-20:00<br>Dimanche fermé</p>
              </div>

       </div>

  </div>
  <div class="margin_dixpx"></div>
  </div>
      <div class="row">
        <div class="container-fluid dark-blue">
            <div>
              Mentions légales
            </div>
        </div>
      </div>

  </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/base.js"></script>

</body>
</html>
