<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{css/footer.css}" rel="stylesheet">
<title>HCC et GCA</title>
<link th:href="@{css/base.css}" rel="stylesheet">
<link th:href="@{css/gca.css}" rel="stylesheet">
<link th:href="@{css/hccgca.css}" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top no_margin color_bleu_royal">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.html">
          <div class="bloc_logo_s">
          <div class="div_g_s"><p class="style_logo_s">G</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s">H</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s">C</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s test">C</p></div>
          <div class="div_a_s"><p class="style_logo_s">A</p></div>
         </div>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="bleuroyal" href="hcc.html">HCC</a></li>
          <li><a href="gca.html">GCA</a></li>
          <li><a href="vousetes.html">Vous êtes ?</a></li>
          <li><a href="devis.html">Devis</a></li>
          <li><a href="recrutement.html">Recrutement</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control search_personalize" placeholder="Rechercher">
              </div>
            </form>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="container-fluid image_background">
    <div class="row center_horizontal">
      <h2 class="text_white">GCA</h2>
    </div>
    <div class="row center_horizontal margin_centvingtpx">
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle button_pers_large center_horizontal" id="btn_action" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Basic dropdown
        </button>
        <div class="dropdown-menu dropdown_button_pers center_horizontal">
           <div class="dropdown_list">
              <a class="dropdown-item a_dropdownlist scroll" href="#section1">L'organisation</a>
           </div>
           <div>
              <a class="dropdown-item a_dropdownlist scroll" href="#section2">Conseil en gestion</a>
          </div>
          <div>
              <a class="dropdown-item a_dropdownlist scroll" href="#section3">Conseil financier LBO</a>
          </div>
          <div>
              <a class="dropdown-item a_dropdownlist scroll" href="#">Conseil en gestion de patrimoine</a>
          </div>
          <div>
              <a class="dropdown-item a_dropdownlist" href="#">Conseil en gestion immobilière</a>
          </div>
        </div>
    </div>
    <div class="container">
    <h4 id="text_hidden" class="down_dropdow text_white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
       Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<h5>
     </div>
</div>
    </div>
</div>


<div class="container-fluid style_body_hccgca">

<div class="cara"></div>
  <div class="article_rectangle" id="section1">
  <h2>Audit Légal</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="cara"></div>

  <div class="article_rectangle" id="section2">
  <h2>Audit Légal</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="cara"></div>

  <div class="article_rectangle" id="section3">
  <h2>Audit Légal</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="cara"></div>
</div>




<footer>

      <div class="container-fluid white-blue">

        <div class="row">

        <div class="col-lg-4 center_horizontal">
            <div>
                <p id="description-cabinet"><span id="span-description">Cabinet d'expertise comptable et de commissariat aux comptes</span></p>
            </div>
          </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 center_horizontal">

             <h4 class="margin_footer_title">Navigation</h4>
             <hr class="horizontal-line" width="45%">
              <p class="margin_footer">Accueil</p>
              <p class="margin_footer">HCC</p>
              <p class="margin_footer">GCA</p>
              <p class="margin_footer">Vous êtes ?</p>
              <p class="margin_footer">Devis</p>
              <p class="margin_footer">Recrutement</p>
              <p class="margin_footer">Contact</p>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 center_horizontal">
            <h4 class="margin_footer_title">Contact</h4>
            <hr class="horizontal-line" width="45%">
            <div class="info_footer_contact">
              <p class="margin_footer">26 Rue Anatole France<br>92300 Levallois-Perret</p>
              <p class="margin_footer">01 02 03 04 05</p>
              <p class="margin_footer">xyz@hcc.fr</p>
              <p class="margin_footer">Lundi-Samedi : 8:00-20:00<br>Dimanche fermé</p>
            </div>

     </div>

</div>
<div class="margin_dixpx"></div>
</div>
    <div class="row">
      <div class="container-fluid dark-blue">
          <div>
            Mentions légales
          </div>
      </div>
    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/base.js"></script>
<script src="js/hccgca.js"></script>

</body>
</html>
