<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>HCC et GCA</title>
  <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">
  <link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top no_margin color_bleu_royal">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.html">
          <div class="bloc_logo_s">
          <div class="div_g_s"><p class="style_logo_s">G</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s">H</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s">C</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s test">C</p></div>
          <div class="div_a_s"><p class="style_logo_s">A</p></div>
         </div>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="bleuroyal" href="hcc.html">HCC</a></li>
          <li><a href="gca.html">GCA</a></li>
          <li><a href="vousetes.html">Vous êtes ?</a></li>
          <li><a href="devis.html">Devis</a></li>
          <li><a href="recrutement.html">Recrutement</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control search_personalize" placeholder="Rechercher">
              </div>
            </form>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


 <div class="container-fluid padding_vingtpx slide2">
   <div class="center_horizontal">

     <div class="global">
     <div class="center_horizontal global centrage_vertical_force">
     <a href="hcc.html"><button type="button" class="btn btn-primary btn_home btn_home_left center_horizontal" id="btn_hcc">Expertise comptable</button></a>
     </div>
     </div>


     <div class="global bloc_logo">
         <div class="div_g" id="letter4"><p class="style_logo">G</p></div>
         <div class="global div_milieu_un" id="letter1"><p class="style_logo">H</p></div>
         <div class="global div_milieu_deux" id="letter2"><p class="style_logo">C</p></div>
         <div class="global div_milieu_trois" id="letter3"><p class="style_logo">C</p></div>
         <div class="div_a" id="letter5"><p class="style_logo">A</p></div>
     </div>

     <div class="global">
     <div class="center_horizontal global centrage_vertical_force">
     <a href="gca.html"><button type="button" class="btn btn-primary btn_home btn_home_right center_horizontal" id="btn_gca">Commissariat aux comptes</button></a>
     </div>
     </div>



   <div class="row center_horizontal">
     <h3>Cabinet d'expertise comptable et de commisariat aux comptes</h3>
     <div class="cara"></div>
   </div>

 </div>
 </div>


<!-- OUR SKIIIILLLLL -->


<div class="container-fluid text_white skill">
  <div class="row center_horizontal">
    <h3 class="text_black">NOS COMPETENCES</h3>
  </div>

  <div class="row space">
    <div class="cara"></div>
    <div class="col-sm-4 center_horizontal">
    <embed src="icone/ascendant-bars-graphic.svg" alt="Generic placeholder image" width="80" height="80">
    <h4 class="text_black">ANALYSE</h4>
    <h5 class="text_black">notre cabinet analyse très bien. Contactez nous pour plus d'informations. notre cabinet analyse très bien. Contactez nous pour plus d'informations</h5>
    </div>
    <div class="col-sm-4 center_horizontal">
    <embed src="icone/information.svg" alt="Gene" width="80" height="80">
    <h4 class="text_black">CONSEIL</h4>
    <h5 class="text_black">notre cabinet analyse très bien. Contactez nous pour plus d'informations. notre cabinet analyse très bien. Contactez nous pour plus d'informations</h5>
    </div>
    <div class="col-sm-4 center_horizontal">
   <!--   <span class="glyphicon glyphicon-ok boxe_circle glyficon" aria-hidden="true" width="140" height="140"></span> -->
   <embed src="icone/check.svg" alt="Controle image" width="80" height="80">
    <h4 class="text_black">CONTROLE</h4>
    <h5 class="text_black">notre cabinet analyse très bien. Contactez nous pour plus d'informations. notre cabinet analyse très bien. Contactez nous pour plus d'informations</h5>
    </div>
  </div>
  <div class="cara"></div>
  <div class="center_horizontal">

    <button type="button" class="btn btn_home_skill">En savoir plus</button>
  </div>

</div>





<!-- POURQUOI NOUS -->


  <div class="container-fluid why_us slide2">
      <h3 class="bleuroyal center_horizontal">POURQUOI NOUS?</h3>
      <div class="border_text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
    <div class="center_horizontal">
      <a href="devis.html"><button type="button" class="btn btn_home_estimate">Faire un devis</button></a>
    </div>
    </div>



  <!-- GCA -->

  <div class="container-fluid image_background_gca text_white recruitment">
    <div class="row center_horizontal">
      <h3 class="text_black">RECRUTEMENT</h3>
    </div>
      <div class="center_horizontal border_text">
        <h4 class="text_black">
          « HCC vient de fêter ses 20 ans et a trouvé sa place parmi les cabinets
           intermédiaires reconnus de la région parisienne »
        </h4>

        <div class="cara"></div>
        <div class="cara"></div>

        <a href="recrutement.html"><button type="button" class="btn btn_home_recruitment">Postuler</button></a>
      </div>

  </div>







  <div class="container-fluid our_team slide2">
    <div class="row center_horizontal">
      <h3 class="bleuroyal">NOTRE EQUIPE</h3>
    </div>

    <div class="margin_centvingtpx"></div>


  </div>


  </div>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>

  <footer>

        <div class="container-fluid white-blue">

          <div class="row">

          <div class="col-lg-4 center_horizontal">
              <div>
                  <p id="description-cabinet"><span id="span-description">Cabinet d'expertise comptable et de commissariat aux comptes</span></p>
              </div>
            </div>

        <div class="col-lg-4 col-sm-6 col-xs-12 center_horizontal">

               <h4 class="margin_footer_title">Navigation</h4>
               <hr class="horizontal-line" width="45%">
                <p class="margin_footer">Accueil</p>
                <p class="margin_footer">HCC</p>
                <p class="margin_footer">GCA</p>
                <p class="margin_footer">Vous êtes ?</p>
                <p class="margin_footer">Devis</p>
                <p class="margin_footer">Recrutement</p>
                <p class="margin_footer">Contact</p>
        </div>

        <div class="col-lg-4 col-sm-6 col-xs-12 center_horizontal">
              <h4 class="margin_footer_title">Contact</h4>
              <hr class="horizontal-line" width="45%">
              <div class="info_footer_contact">
                <p class="margin_footer">26 Rue Anatole France<br>92300 Levallois-Perret</p>
                <p class="margin_footer">01 02 03 04 05</p>
                <p class="margin_footer">xyz@hcc.fr</p>
                <p class="margin_footer">Lundi-Samedi : 8:00-20:00<br>Dimanche fermé</p>
              </div>

       </div>

  </div>
  <div class="margin_dixpx"></div>
  </div>
      <div class="row">
        <div class="container-fluid dark-blue">
            <div>
              Mentions légales
            </div>
        </div>
      </div>

  </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/base.js"></script>
<script src="js/home.js"></script>

</body>
</html>
