<!DOCTYPE html>
<html>
<head>
    <title>HCC et GCA</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{css/footer.css}" rel="stylesheet">
  <link th:href="@{css/base.css}" rel="stylesheet">
  <link th:href="@{css/vousetes.css}" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top no_margin color_bleu_royal">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home.html">
          <div class="bloc_logo_s">
          <div class="div_g_s"><p class="style_logo_s">G</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s">H</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s">C</p></div>
          <div class="global div_milieu_s"><p class="style_logo_s test">C</p></div>
          <div class="div_a_s"><p class="style_logo_s">A</p></div>
         </div>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="bleuroyal" href="hcc.html">HCC</a></li>
          <li><a href="gca.html">GCA</a></li>
          <li><a href="vousetes.html">Vous êtes ?</a></li>
          <li><a href="devis.html">Devis</a></li>
          <li><a href="recrutement.html">Recrutement</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control search_personalize" placeholder="Rechercher">
              </div>
            </form>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="container-fluid">

   <div class="row">
     <div class="center_horizontal">
     <h2>test</h2>
     </div>
  </div>

   </div>

    <div class="container-fluid">

      <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 center_horizontal">

        <div class="carre carre_margin_top background_royalbleu carre_center_horizontal c1">

          <h3 class="center_horizontal padding_trentepx text_white text_size">Une association</h3>
          <button type="button" class="btn btn-default btn-circle btn-lg margin_quarante b1" data-toggle="modal" data-target=".bs-example-modal-lga"><i class="glyphicon glyphicon-plus g1"></i></button>
          <div class="modal fade bs-example-modal-lga" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
              </div>
            </div>
          </div>

       </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 center_horizontal">
        <div class="carre carre_margin_top background_royalbleu carre_center_horizontal c2">

          <h3 class="center_horizontal padding_trentepx text_white text_size">Une association</h3>
          <button type="button" class="btn btn-default btn-circle btn-lg margin_quarante b2" data-toggle="modal" data-target=".bs-example-modal-lgb"><i class="glyphicon glyphicon-plus g2"></i></button>
          <div class="modal fade bs-example-modal-lgb" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
              </div>
            </div>
          </div>

       </div>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 center_horizontal">
        <div class="carre carre_margin_top background_royalbleu carre_center_horizontal c3">

          <h3 class="center_horizontal padding_trentepx text_white text_size">Une association</h3>
          <button type="button" class="btn btn-default btn-circle btn-lg margin_quarante b3" data-toggle="modal" data-target=".bs-example-modal-lgc"><i class="glyphicon glyphicon-plus g3"></i></button>
          <div class="modal fade bs-example-modal-lgc" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
              </div>
            </div>
          </div>

       </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 center_horizontal">
        <div class="carre carre_margin_top background_royalbleu carre_center_horizontal c4">

          <h3 class="center_horizontal padding_trentepx text_white text_size">Une association</h3>
          <button type="button" class="btn btn-default btn-circle btn-lg margin_quarante b4" data-toggle="modal" data-target=".bs-example-modal-lgd"><i class="glyphicon glyphicon-plus g4"></i></button>
          <div class="modal fade bs-example-modal-lgd" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
              </div>
            </div>
          </div>

       </div>
      </div>



      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 center_horizontal">
        <div class="carre carre_margin_top carre_margin_bottom background_royalbleu carre_center_horizontal c5">

          <h3 class="center_horizontal padding_trentepx text_white text_size">Une association</h3>
          <button type="button" class="btn btn-default btn-circle btn-lg margin_quarante b5" data-toggle="modal" data-target=".bs-example-modal-lge"><i class="glyphicon glyphicon-plus g5"></i></button>
          <div class="modal fade bs-example-modal-lge" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
              </div>
            </div>
          </div>

       </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 center_horizontal">
        <div class="carre carre_margin_top carre_margin_bottom background_royalbleu carre_center_horizontal c6">

          <h3 class="center_horizontal padding_trentepx text_white text_size">Une association</h3>
          <button type="button" class="btn btn-default btn-circle btn-lg margin_quarante b6" data-toggle="modal" data-target=".bs-example-modal-lgf"><i class="glyphicon glyphicon-plus g6"></i></button>
          <div class="modal fade bs-example-modal-lgf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
              </div>
            </div>
          </div>

       </div>
      </div>


      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 center_horizontal">
        <div class="carre carre_margin_top carre_margin_bottom background_royalbleu carre_center_horizontal c7">

          <h3 class="center_horizontal padding_trentepx text_white text_size">Une association</h3>
          <button type="button" class="btn btn-default btn-circle btn-lg margin_quarante b7" data-toggle="modal" data-target=".bs-example-modal-lgg"><i class="glyphicon glyphicon-plus g7"></i></button>
          <div class="modal fade bs-example-modal-lgg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
              </div>
            </div>
          </div>

       </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 center_horizontal">
        <div class="carre carre_margin_top carre_margin_bottom background_royalbleu carre_center_horizontal c8">

          <h3 class="center_horizontal padding_trentepx text_white text_size">Une association</h3>
          <button type="button" class="btn btn-default btn-circle btn-lg margin_quarante b8" data-toggle="modal" data-target=".bs-example-modal-lgh"><i class="glyphicon glyphicon-plus g8"></i></button>
          <div class="modal fade bs-example-modal-lgh" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <p>Some text in the modal.</p>
                </div>
              </div>
            </div>
          </div>

       </div>
      </div>

</div>


</div>



<footer>

      <div class="container-fluid white-blue">

        <div class="row">

        <div class="col-lg-4 center_horizontal">
            <div>
                <p id="description-cabinet"><span id="span-description">Cabinet d'expertise comptable et de commissariat aux comptes</span></p>
            </div>
          </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 center_horizontal">

             <h4 class="margin_footer_title">Navigation</h4>
             <hr class="horizontal-line" width="45%">
              <p class="margin_footer">Accueil</p>
              <p class="margin_footer">HCC</p>
              <p class="margin_footer">GCA</p>
              <p class="margin_footer">Vous êtes ?</p>
              <p class="margin_footer">Devis</p>
              <p class="margin_footer">Recrutement</p>
              <p class="margin_footer">Contact</p>
      </div>

      <div class="col-lg-4 col-sm-6 col-xs-12 center_horizontal">
            <h4 class="margin_footer_title">Contact</h4>
            <hr class="horizontal-line" width="45%">
            <div class="info_footer_contact">
              <p class="margin_footer">26 Rue Anatole France<br>92300 Levallois-Perret</p>
              <p class="margin_footer">01 02 03 04 05</p>
              <p class="margin_footer">xyz@hcc.fr</p>
              <p class="margin_footer">Lundi-Samedi : 8:00-20:00<br>Dimanche fermé</p>
            </div>

     </div>

</div>
<div class="margin_dixpx"></div>
</div>
    <div class="row">
      <div class="container-fluid dark-blue">
          <div>
            Mentions légales
          </div>
      </div>
    </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/base.js"></script>
<script src="js/vousetes.js"></script>

</body>
</html>
